<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8" />
    <title> User Info </title>
</head>
<body>
    {% if fail %}
    <p><font size=200>不认识你啊 :(</font></p>
    {% else %}
    <img src="{{ headimgurl }}" />
    <p>
        <font size=200>
            昵称<strong>{{ nickname }}</strong><br>
            性别<strong>{{ sex }}</strong><br>
            城市<strong>{{ city }}</strong><br>
            省份<strong>{{ province }}</strong><br>
            国家<strong>{{ country }}</strong><br>
        </font>
    </p>
    {% endif %}
</body>
</html>
